*.tmp
.gnupg
.stamps
.terraform
tfplan
distfiles/

aws_regions.tf.json
peering.tf.json
providers.tf.json
terraform.tfstate
terraform.tfstate.backup

tfplan.json
terraform.tfstate.json
terraform.tfstate.backup.json
